albumentations==2.0.8
einops==0.8.2
mamba_ssm==2.2.6.post3
matplotlib==3.11.1
numpy==2.5.1
opencv_contrib_python==4.13.0.92
opencv_python==4.12.0.88
opencv_python_headless==4.13.0.90
pandas==3.0.3
ptflops==0.7.5
scikit_learn==1.9.0
statsmodels==0.14.6
timm==0.9.12
torch==2.7.1
torch_ema==0.3
torchmetrics==1.8.2
torchvision==0.24.1
tqdm==4.67.1
transformers==4.57.1

